services:
  postgres:
    image: postgres:15-alpine
    container_name: gpstours-db
    restart: unless-stopped
    ports:
      - '5432:5432'
    environment:
      POSTGRES_DB: seminar_gpstour
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: '123'
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    container_name: gpstours-cache
    restart: unless-stopped
    ports:
      - '6379:6379'
    volumes:
      - redis_data:/data

volumes:
  postgres_data:
  redis_data:
